@model Proyecto_HELPSYCH.Models.SignUpModel

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br /><br />
<table class="helpsych"  border="1">
    <tbody>
        <tr>
            <td>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <br /><br />
                    <h2>Registrate Ahora</h2>
                    <div>
                        <h4>Registrate Ahora y encuentra apoyo emocional en linea</h4><br />
                        <p>No importa quién seas o por lo que estés pasando, este es un lugar donde te escucharán y te cuidarán. Podríamos ser extraños en la superficie, pero debajo sólo estaban los amigos que aún no has conocido.</p>
                        <br />
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })<br />
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })<br />
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })<br />
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <table class="helpsych" border="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <br />
                                                <input type="submit" value="REGISTRAR" class="btn btn-success" />
                                            </div>
                                        </div>
                                    </td>
                                    <td><div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <br />
                                                <a href="~/Home/TestMenu" class="btn btn-success">IR AL LOGIN</a>
                                            </div>
                                        </div></td>
                                </tr>
                            </tbody>
                        </table>
                       




                    </div>
                    }
            </td>
        </tr>
    </tbody>
</table>
<br /><br /><br />



